// declare color
$color-white: white;
$color-gray: gray;
$color-background-gray: #f7f7f7;
$color-lightgray: lightgray;
$color-black: black;
$color-hot: #E8B300;
$color-cold: #1A73E8;
$color-background-blue: #00a6ff;
$color-border-page: #1a73e8;

// declare font-size
$font-size-18: 18px;
$font-size-24: 24px;
$font-size-72: 72px;

// declare font-weight
$font-weight-500: 500;
$font-weight-600: 600;

// declare mixin
@mixin propMixi($prop,$val) {
    -webkit-#{$prop}: $val;
       -moz-#{$prop}: $val;
        -ms-#{$prop}: $val;
            #{$prop}: $val;
}
@mixin flex-center {
    @include propMixi(display,flex);
    
    justify-content: center;
    align-items: center;
}