/* import style library */
@import './variables/Variables.scss';

body {
	background-color: $color-background-blue;
}

.app {
	width: 100%;
	height: 100vh;

	.slick-slider{
		height: 100vh;
	}
	
	.slick-list,
	.slick-track {
		height: 100%;
	}

	.slick-slide {
		div:focus {
			outline: none;
		}
	}

	.slick-prev{
		left: 0;
		background-color: black;
		z-index: 1000;
	}
	.slick-next {
		right: 0;
		background-color: black;
		z-index: 1000;
	}

	.slick-next,
	.slick-prev {
		width: 50px;
		height: 50px;
		top: 25px;
		background-color: $color-background-blue;
	}
}

